{% extends "./index.html" %}
{% block content %}





<div class="bg-gray-100   font-sans">
    <div class=" border-gray-200 border-b-2">
        <h1 class="p-5 text-lg font-sans font-semibold">Edit Product</h1>
    </div>
<form action="{{ url_for('product_bp.edit_product', product_id=product['_id']) }}" method="post">
    <div class="bg-gray-50 m-5 rounded-lg shadow-lg shadow-gray-400">

        <div class="grid grid-cols-2 p-5 gap-10">
        <first_c class=" flex flex-col gap-5">
            <div class="mb-4 flex flex-col gap-2">
                <label for="name" class="block font-sans text-black text-xs font-medium">Name:</label>
                <input type="text" id="name" name="name" class="form-input text-xs bg-gray-100 p-2 border-2 border-gray-300 rounded-md"
                    placeholder="Enter product name" value="{{product.name}}" required>
            </div>
            <div class="flex flex-col gap-2">
                <label for="category" class="block font-sans text-black text-xs font-medium">Category:</label>
                <select id="category" name="category" onchange="toggleOtherCategory()" 
                    class="form-select text-xs uppercase bg-gray-100 p-2 border-gray-300 border-2 rounded-md" required>
                    <option value="{{product.brand}}"  >{{product.category}}</option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                    <option value="other">Other</option>
                </select>
                <!-- Other Category Input -->
                <input type="text" id="otherCategoryInput" name="otherCategoryInput" class="form-input text-xs bg-gray-100 p-2 border-gray-300 border-2 rounded-md "
                    placeholder="Enter new category" style="display: none;">
            </div>
           

            <div class="flex flex-col gap-2">
                <label for="cost" class="block font-sans text-black text-xs font-medium
                ">Cost Price:</label>
                <input type="number" id="cost" name="cost" class="form-input border-2 text-xs bg-gray-100 p-2 border-gray-300 rounded-md
                "
                value="{{product.cost}}"  placeholder="Enter cost price" required>
            </div>
            <div class="flex flex-col gap-2">
                <label for="selling_price" class="block font-sans text-black text-xs font-medium
                ">Selling Price:</label>
                <input type="number" id="selling_price" value="{{product.selling_price}}" name="selling_price"
                    class="form-input text-xs bg-gray-100 p-2 border-gray-300 border-2 rounded-md
                    " placeholder="Enter selling price" required>
            </div>
            
        </first_c>

        <second_C class="flex flex-col gap-5">
            <div class="mb-4 flex flex-col gap-2">
                <label for="brand" class="block font-sans text-black text-xs font-medium">Brand:</label>
                <select id="brand" name="brand" onchange="toggleOtherBrand()"
                    class="form-select text-xs uppercase bg-gray-100 p-2 border-gray-300 border-2 rounded-md" required>
                    <option value="{{product.brand}}" disabled selected>{{product.brand}}</option>
                    {% for brand in brands %}
                        <option value="{{ brand }}">{{ brand }}</option>
                    {% endfor %}
                    <option value="other">Other</option>
                </select>
                <!-- Other Brand Input -->
                <input type="text" id="otherBrandInput" name="otherBrandInput" class="form-input text-xs bg-gray-100 p-2 border-2 border-gray-300 rounded-md"
                    placeholder="Enter new brand" style="display: none;">
            </div>


            <div class=" flex flex-col gap-2">
                <label for="gst" class="block font-sans text-black text-xs font-medium
                ">GST (%):</label>
                <input type="number" id="gst" name="gst" class="form-input border-2 text-xs bg-gray-100 p-2 border-gray-300 rounded-md
                "
                value="{{product.gst}}"      placeholder="Enter GST percentage">
            </div>
            <div class=" flex flex-col gap-2">
                <label for="barcode" class="block font-sans text-black text-xs font-medium">Barcode:</label>
                <input type="text" id="barcode" name="barcode" class="form-input text-xs border-2 bg-gray-100 p-2 border-gray-300 rounded-md"
                value="{{product.barcode}}"    placeholder="Enter barcode">
            </div>
            
           
            
           
        </second_C>

        <div class="">
            <button type="submit" class="bg-blue-500 text-sm hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">
                Edit Product
            </button>
        </div>
        </div>

    </div>
</form>
</div>


<script>
    function toggleOtherCategory() {
        const categorySelect = document.getElementById('category');
        const otherCategoryInput = document.getElementById('otherCategoryInput');

        if (categorySelect.value === 'other') {
            otherCategoryInput.style.display = 'block';
        } else {
            otherCategoryInput.style.display = 'none';
        }
    }

    function toggleOtherBrand() {
        const brandSelect = document.getElementById('brand');
        const otherBrandInput = document.getElementById('otherBrandInput');

        if (brandSelect.value === 'other') {
            otherBrandInput.style.display = 'block';
        } else {
            otherBrandInput.style.display = 'none';
        }
    }
</script>



      
      {% endblock %}
